<section class="h-screen bg-rose-200 flex justify-center items-center">
    <div class="container">
        <div class="space-y-4">
            <h1 class="uppercase text-center text-4xl font-bold">about component</h1>
            <div class="text-center">
                <span class="relative text-2xl line-after-star line-before-star">
                    <i class="fa-solid fa-star"></i>
                </span>
            </div>
            <div class="flex flex-wrap justify-center md:space-x-10 p-4 space-y-6 md:space-y-0">
                <p class="w-full md:w-4/12">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                <p class="w-full md:w-4/12">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
        </div>
    </div>
</section>