<app-navbar></app-navbar>

<router-outlet></router-outlet>

<div class="bg-rose-500 py-14 text-white">
  <div class="container">
    <div class="flex flex-wrap justify-between text-center space-y-4 md:space-y-0">
      <div class="w-full md:w-4/12 space-y-4">
        <h2 class="uppercase text-3xl font-bold">location</h2>
        <h3>2215 John Daniel Drive</h3>
        <span>Clark, MO 65243</span>
      </div>
      <div class="flex flex-col items-center w-full md:w-4/12 space-y-4">
        <h2 class="uppercase text-3xl font-bold">around the web</h2>
        <ul class="flex space-x-2">
          <li class="border-black border-2 rounded-full w-8 h-8 flex items-center justify-center"><a class="" href="#"><i class="fa-brands fa-facebook"></i></a></li>
          <li class="border-black border-2 rounded-full w-8 h-8 flex items-center justify-center"><a class="" href="#"><i class="fa-brands fa-twitter"></i></a></li>
          <li class="border-black border-2 rounded-full w-8 h-8 flex items-center justify-center"><a class="" href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
          <li class="border-black border-2 rounded-full w-8 h-8 flex items-center justify-center"><a class="" href="#"><i class="fa-solid fa-globe"></i></a></li>
        </ul>
      </div>
      <div class="w-full md:w-4/12 space-y-4">
        <h2 class="text-3xl font-bold">ABOUT FREELANCER</h2>
        <h3>Freelance is a free to use, licensed Bootstrap theme created by Route</h3>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="bg-rose-800 py-5">
    <h2 class="text-center text-white">Copyright © Your Website 2021</h2>
  </div>
</section>